.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.movie-card {
  max-width: 250px;
  overflow: hidden;
  padding: 10px;
  background: #fb7000;
}
.movie-poster {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.movie-poster img {
  width: 100%;
  max-height: 280px;
}

.movie-overlay {
  position: absolute;
  bottom: 40px;
  right: 0px;
}

button.like-btn {
  background: none;
  border: 0;
  font-size: 30px;
}

.movie-title h3 {
  margin: 5px 0 0;
  text-align: center;
}

.movie-title p {
  font-size: 14px;
  margin: 5px 0 0;
  text-decoration: underline;
  text-align: center;
  padding: 0 0 10px;
}
