html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/************ My CSS *************/
@font-face {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  src: url(https://fonts.googleapis.com/css?family=Lato:400,700,900)
    format('woff2');
}

html,
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: 'Lato', sans-serif, Helvetica, Arial;
  color: #fff;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
.adSize {
  width: 300px;
  height: 250px;
}

span {
  display: inline-block;
}

.textC {
  text-align: center;
}

#banner {
  background: #fff;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #515151;
  box-sizing: border-box;
}

.w100 {
  width: 100%;
  height: 100%;
}

.hide {
  opacity: 0;
}

.posAbsolute {
  position: absolute;
}

.lt0 {
  top: 0px;
  left: 0px;
}
.lb0 {
  bottom: 0px;
  left: 0px;
}
.boldFont {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.regFont {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}

/* #logoWhite,
#logoBlue {
  width: 33px;
  height: 250px;
  top: 0px;
  left: 15px;
} */

#tc_open {
  top: 226px;
  left: 230px;
  color: #fff;
}
#tc_open,
#tc_close {
  font-size: 9.5px;
  z-index: 2;
}
#tc_open span {
  border-bottom: 1px solid;
  padding-bottom: 1px;
}

#tc_close {
  top: 10px;
  right: 10px;
  color: #1d1f20;
}
#disclaimer_container {
  background-color: #fff;
}
#disclaimer_content {
  top: 18px;
}

#disclaimer_text {
  font-weight: lighter;
  font-size: 10px;
  padding: 10px;
  color: #1d1f20;
  line-height: 1.1;
}
/* #frame4Box {
  background-color: #303b4e;
  width: 100%;
  height: 162px;
  border-bottom: 4px solid #fff;
}
#frame4Box2,
#floorBox {
  width: 100%;
  height: 85px;
  background: #f1f2eb;
  top: 166px;
  left: 0;
} */
#bg1,
#bg2,
#bg3 {
  width: 100%;
  height: 143px;
}
/* #floorBox {
  height: 155px;
  top: 95px;
  background-color: #079df9;
} */

ul#dealerList {
  left: 23px;
  top: 20px;
  width: 236px;
  color: #000;
}

#dealer_headline {
  font-size: 9.5px;
  letter-spacing: -0.12px;
}
#dealer_name {
  font-weight: 900;
  margin-top: 10px;
  letter-spacing: -0.1px;
}

#dealer_address1,
#dealer_address2 {
  margin-top: 4px;
}

#dealer_name,
#dealer_address1,
#dealer_address2 {
  letter-spacing: 0.15px;
}
#dealer_name,
#dealer_address1,
#dealer_address2 {
  font-size: 12.5px;
}

#dealer_phone,
#dealer_license {
  font-size: 9px;
  margin-top: 3px;
  letter-spacing: 0.2px;
}
#leftWheelBox,
#rightWheelBox {
  width: 18px;
  top: 167px;
}
#leftWheelBox {
  left: 136px;
}
#rightWheelBox {
  left: 248.5px;
}
#ctaBox,
#ctaBlueBox {
  font-size: 11px;
  color: #fff;
  overflow: hidden;
  top: 122px;
  left: 22px;
}
#ctaBlueBox {
  padding: 8px 10px;
  background-color: #001e50;
}
#ctaBox {
  background: #fff;
  color: #001e50;
}
#ctaBlueBox,
#ctaBox {
  padding: 8px 10px;
  border-radius: 15px;
}
#exitLink {
  z-index: 1;
}
#tc_open {
  padding-bottom: 10px;
}
#tc_open:hover span {
  border: none;
}
sup {
  vertical-align: top;
  display: inline-block;
  font-size: inherit;
  margin-top: -1px;
}
#wheel1left,
#wheel1right,
#wheel2left,
#wheel2right,
#wheel3left,
#wheel3right {
  width: 28px;
  top: 134px;
  height: auto;
}

#wheel1left,
#wheel2left,
#wheel3left {
  left: 48px;
}
#wheel1right,
#wheel2right,
#wheel3right {
  left: 220px;
}
#revealBox1 {
  overflow: hidden;
}
.shadow {
  width: 279.5px;
  height: 30.5px;
  left: 7px;
  top: 140px;
  background: url(./shadow.gif) no-repeat;
  background-size: contain;
  background-blend-mode: multiply;
}
.shadowSmall {
  width: 182px;
  height: 20px;
  left: 109.5px;
  top: 172px;
  background: url(./shadow.gif) no-repeat;
  background-size: contain;
  background-blend-mode: multiply;
  background-color: #174e82;
}
.bg1 {
  background-color: #ffde2f;
}

.bg2 {
  background-color: #59aa88;
}

.bg3 {
  background-color: #e36225;
}
#frame2,
#frame3 {
  background-color: #fff;
}

.flowHidden {
  overflow: hidden;
}
