body {
    margin: 0px;
    padding: 0;
}

div {
    margin: 0px;
    padding: 0;
}

#ad {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    visibility: hidden;
    opacity: 0;
}

#banner {
    position: absolute;
    width: 300px;
    height: 600px;
    display: block;
    /*background-image:url('../images/bg.jpg');*/
    background-repeat: no-repeat;
    visibility: visible;
    cursor: pointer;
    overflow: hidden;
    background-color: #000000;
    border: 1px solid #888888;
    z-index: 5;
    box-sizing: border-box;
}

#clickthrough-button {
    width: 100%;
    height: 100%;
}

.frame {
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
}

img {
    position: absolute;
    padding: 0;
    margin: 0;
    display: block;
}

svg {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
}

/***************/
/**** Frames ***/
/***************/

#frame1 {}

#copy_01 {
    left: 49.5px;
    top: 377px;
    width: 199px;
    height: 42px;
}

#copy_02 {
    left: 27.5px;
    top: 377px;
    width: 243px;
    height: 39px;
}

#copy_03 {
    left: 40.5px;
    top: 377px;
    width: 217px;
    height: 18px;
}

#img_container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #000000;
}

#img_01 {
    position: absolute;
    left: 0px;
    top: 0px;
    height: auto;
    width: 300px;
}

#img_02 {
    position: absolute;
    left: 0px;
    top: 0px;
    height: auto;
    width: 300px;
}

#cta_container {
    position: absolute;
    left: 94px;
    top: 440px;
    width: 113px;
    height: 31px;
}

#cta {
    width: 100%;
    height: 100%;
}

/***************/
/**** LOGO *****/
/***************/

#symbol {
    width: 64px;
    left: 118px;
    top: 504px;
}

#eq_logo {
    left: 118px;
    top: 331px;
    width: 64px;
    height: 18px;
}

#hover_link {
    position: absolute;
    top: 473px;
    text-align: left;
    left: 110px;
    padding: 5px;
    margin: 0;
    cursor: pointer;
    font-size: 9px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 100;
    font-family: 'helvetica', 'arial', sans-serif;
    opacity: 0.7;
    z-index: 9999;
    box-sizing: border-box;
}

#disclaimer_container {
    height: 100%;
    width: 100%;
    display: block;
    background: #000000;
    padding: 10px 15px;
    margin: 0;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
}

#disclaimer {
    width: 100%;
    height: 100%;
    font-size: 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 100;
    line-height: auto;
    font-family: 'helvetica', 'arial', sans-serif;
}

#disclaimer span {
    margin-left: -7px;
    margin-right: 2px;
}